<footer class="footer mt-auto py-4 bg-light text-muted">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <div>
          <i class="fa fa-map-marker-alt mt-1 mx-2"></i>
          <span>United States</span>
        </div>
        <div>
          <i class="fa fa-envelope mt-1 mx-2"></i>
          <span>hphothong@gmail.com</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 justify-content-center text-center">
        <div class="justify-content-center">
          <a href="https://www.github.com/hphothong"
            ><i class="fab fa-github mx-2"></i
          ></a>
          <a href="https://www.linkedin.com/in/hayden-phothong-a23933129"
            ><i class="fab fa-linkedin mx-2"></i
          ></a>
        </div>
        <div class="font-italic">Hayden Phothong &copy; 2019</div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <a
          class="btn btn-primary"
          download="Resume_Hayden_Phothong.pdf"
          href="/assets/Resume_Hayden_Phothong.pdf"
          target="_blank"
          >View My Résumé</a
        >
      </div>
    </div>
  </div>
</footer>
