<app-jumbotron title="Coding Challenges" subtitle="Good Luck!"></app-jumbotron>
<div class="w-75 m-auto">
  <div class="card mb-4" *ngFor="let gist of githubGistModels">
    <div class="card-header">
      {{ gist.description }}
    </div>
    <div class="card-body">
      <pre class="card-text" *ngFor="let file of gist.files">{{
        rawTextFromFiles[gist.url][file.rawUrl]
      }}</pre>
    </div>
    <div class="card-footer text-right text-muted">
      {{ gist.createdAt }}
    </div>
  </div>
</div>
