<app-jumbotron></app-jumbotron>
<div class="container">
  <p>
    I would first like to thank you for taking a look at my projects! The main
    goal in coding all of these projects is to gain personal experience and
    expand my knowledge base. There are many different fields in computer
    science, and I have set the goal of learning the important basics for each
    of them.
  </p>
  <p>
    I originally started this portfolio website using the React framework. I
    liked how flexible the framework allowed the developer to be, however, there
    were many instances where I did not know the best practices for the
    framework. Like I mentioned before, I usually create a project to learn
    something new, but the excess freedom was causing my development time to
    double. That was my first attempt at using a web framework to generate a
    responsive website. After creating version 1.0 of the website, I quickly
    realized that there are other frameworks that could help me build a
    responsive app as well (e.g., Vue and Angular). I decided to use the Angular
    framework because many companies use this framework at enterprise levels,
    and it restricts the developers to a particular convention for coding. This
    is the sturdy base that I needed to really get this project off the ground.
  </p>
  <p>
    I am excited to keep adding different problem solutions and projects to this
    portfolio. If you have any questions or concerns, please feel free to reach
    out to me. I am always excited to share the computer science passion with
    others!
  </p>
</div>
